// Footer Styles
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border-top: 1px double darkgray;
  border-bottom: 1px double darkgray;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 5%;
  text-align: left;
  width: 100%;
}
